/target/
!.mvn/wrapper/maven-wrapper.jar


# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
### STS ###
.apt_generated

.factorypath
.settings
.springBeans
.sts4-cache

.metadata
*ipr
*iws
